.DS_Store
Base/__pycache__
Family/__pycache__
Job/__pycache__
Users.riccardo.Documents.tpoayaaac.Base.__init__.cover
Users.riccardo.Documents.tpoayaaac.Family.__init__.cover
Users.riccardo.Documents.tpoayaaac.Job.__init__.cover
thePortraitOfAYoungAdultMaleAsAClass.cover


